<!DOCTYPE html>
<html xmlsns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>XYZ Retail</title>
</head>
<body>
<h1>XYZ Retail Shopping Website</h1>
<h2>My Cart</h2>
<br><br>

<h3>Cart Contents</h3>
<table border ="1">
	<tr>
		<th>Item Name</th>
		<th>Quantity in Cart</th>
		<th>Item Price</th>
		<th>Item Tax</th>
		<th>Final Price</th>
	</tr>
	<tr th:each ="basketItemFull : ${basketItemsFull}">
		<td th:text ="${basketItemFull.basketItemName}"></td>
		<td th:text ="${basketItemFull.basketItemQuantity}"></td>
		<td th:text ="${basketItemFull.basketItemPrice}"></td>
		<td th:text ="${basketItemFull.basketItemTax}"></td>
		<td th:text ="${basketItemFull.basketItemFinalPrice}"></td>
	</tr>
</table>


<br><br>
<a href="./StoreSelection">Go to Store Selection</a>
<br>
<a href="./Checkout">Checkout</a>
</body>
</html>