<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>List of available Items</h1>
<table>
<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Type</th>
<th>Price</th>
<th>Quantity</th>
</tr>
</thead>
<tbody th:each = "item : ${items}" >
<tr>
<td th:text="${item.getId()}"></td>
<td th:text="${item.getName()}"></td>
<td th:text="${item.type.type}"></td>
<td th:text="${item.price}"></td>
<td th:text="${item.quantity}"></td>
</tr>

</tbody>
</table>
</body>
</html>