<!DOCTYPE html>
<html xmlsns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>XYZ Retail</title>
</head>
<body>
<h1>XYZ Retail Shopping Website</h1>
<h2 style="">Viewing Item:
	<strong th:text=${item.name}></strong>
</h2>

<p>
	Price: 
	<strong th:text="${item.price}"/>
</p>

<p>
	Type: 
	<strong th:text="${item.type.type}"/>
</p>

<p>
	Tax Rate: 
	<strong th:text="${item.type.taxRate}"/><strong>%</strong>
</p>

<p>
	Quantity Available: 
	<strong th:text="${item.quantity}"/>
</p>

<span>
	Add to cart:
	<br>
	Quantity:
	<input type="number" id="quantity" name="quantity" value="1" min="1" 
	th:attr="max=${item.quantity}" size=1 oninput="this.size = this.value.length" autocomplete="off">
	<button>Place in Cart</button>
	
	<form action="./AddItem" method="post">
		<input type="number" id="quantity" name="inputQuantity" value="1" min="1" 
		th:attr="max=${item.quantity}" size=1 oninput="this.size = this.value.length" autocomplete="off">
		<input type = "hidden" th:value="${item.itemId}" name="itemId">
		<button type ="submit">Add</button>
	</form>
	
</span>




<br><br>


<!--
<table>
	<tr>
		<th>Item Name</th>
		<th>Item Type</th>
		<th>Item Price</th>
		<th>Item Tax</th>
		<th>Item Quantity</th>
	</tr>
	<tr th:object ="${item}">
		<td th:text ="${item.name}"></td>
		<td th:text ="${item.type.type}"></td>
		<td th:text ="${item.price}"></td>
		<td th:text ="${item.price}"></td>
		<td th:text ="${item.quantity}"></td>
	</tr>
</table>
-->

<a href="./ShopPage">Back to <text th:text=${item.type.type}/> shop</a>
</body>
</html>