<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>

<title>XYZ Retail</title>
</head>
<body>

<h1>XYZ Retail Shopping Website</h1>
<h2>Login Page</h2>
<br>


<br>
<h3>Login Form:</h3>
<form action="./Login" method="post" th:object="${login}">
	Enter User Name : <input type="text"  th:field="*{userName}"><br><br>
	Enter Password : <input type="password"  th:field="*{Password}"><br><br>
	Remember Me : <input type="checkbox"  th:field="*{rememberMe}"><br><br>
	<input type="submit" value="Login">
	<input type="submit" value="Register">
</form>
<br><br>


</body>
</html>